In [8]:
# importing the dataset
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [9]:
df = pd.read_excel('Members table_Updated.xlsx') 
df[['Weather Condition','Public Holiday', 'SMS Notification',
       'Email Notification', 'SMS Reminder', 'Email Reminder',
       'Free Transportation', 'External Speaker', 'Church Venue',
       'Outreach Program', 'Celebration', 'Love Feast', 'Attendance']] = df[['Weather Condition','Public Holiday', 'SMS Notification',
       'Email Notification', 'SMS Reminder', 'Email Reminder',
       'Free Transportation', 'External Speaker', 'Church Venue',
       'Outreach Program', 'Celebration', 'Love Feast', 'Attendance']].round(decimals=0).astype(int)
df[['Service Day','Service Time']] = df[['Service Day','Service Time']].astype(int)
df.head()

,S/N,Member ID,Group ID,Church ID,PCF ID,Cell ID,Department ID,First Name,Middle Name,Last Name,...,Email Notification,SMS Reminder,Email Reminder,Free Transportation,External Speaker,Church Venue,Outreach Program,Celebration,Love Feast,Attendance
0,1,M001,G001,CH001,PCF001,C001,D001,Omolara,Sandra,Adeniyi,...,0,0,1,1,1,0,0,1,1,0
1,2,M002,G002,CH002,PCF002,C002,D002,Olaide,Oluwanisola,Agbaje,...,1,1,1,1,1,0,1,1,0,1
2,3,M003,G003,CH003,PCF003,C003,D003,Funmilayo,Makuachukwu,Onu,...,0,0,0,0,0,1,1,0,1,0
3,4,M004,G004,CH004,PCF004,C004,D004,Makinwa,Hope,Okonkwo,...,0,0,0,1,1,1,0,0,0,1
4,5,M005,G005,CH005,PCF005,C005,D005,Onome,Olaoluwa,Bode,...,0,0,1,1,0,1,0,0,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 35 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   S/N                  320 non-null    int64
 1   Member ID            320 non-null    object
 2   Group ID             320 non-null    object
 3   Church ID            320 non-null    object
 4   PCF ID               320 non-null    object
 5   Cell ID              320 non-null    object
 6   Department ID        320 non-null    object
 7   First Name           320 non-null    object
 8   Middle Name          320 non-null    object
 9   Last Name            320 non-null    object
 10  Gender               320 non-null    object
 11  Mobile 1             320 non-null    int64
 12  Mobile 2             320 non-null    int64
 13  Email                320 non-null    object
 14  Profession           320 non-null    object
 15  Address              320 non-null    object
 16  Location             320 non-null    object
 17  Entry Date           320 non-null    datetime64[ns]
 18  Weather Condition    320 non-null    int32
 19  Service Date         320 non-null    datetime64[ns]
 20  Service Day          320 non-null    int64
 21  Service Type         320 non-null    int64
 22  Service Time         320 non-null    int64
 23  Public Holiday       320 non-null    int32
 24  SMS Notification     320 non-null    int32
 25  Email Notification   320 non-null    int32
 26  SMS Reminder         320 non-null    int32
 27  Email Reminder       320 non-null    int32
 28  Free Transportation  320 non-null    int32
 29  External Speaker     320 non-null    int32
 30  Church Venue         320 non-null    int32
 31  Outreach Program     320 non-null    int32
 32  Celebration          320 non-null    int32
 33  Love Feast           320 non-null    int32
 34  Attendance           320 non-null    int32
dtypes: datetime64[ns](2), int32(13), int64(6), object(14)
memory usage: 71.4+ KB

In [7]:
df['Celebration'].value_counts()

0    168
1    152
Name: Celebration, dtype: int64

In [273]:
df = df.drop(["S/N", "Member ID","Service Type", "Group ID", "Church ID", "PCF ID", "Cell ID", "Department ID", "First Name", 
              "Middle Name", "Last Name", "Mobile 1", "Mobile 2","Profession","Email", "Address", "Location", 
              "Entry Date", "Service Date"], axis = 1)
df.columns

Index(['Gender', 'Weather Condition', 'Service Day', 'Service Time',
       'Public Holiday', 'SMS Notification', 'Email Notification',
       'SMS Reminder', 'Email Reminder', 'Free Transportation',
       'External Speaker', 'Church Venue', 'Outreach Program', 'Celebration',
       'Love Feast', 'Attendance'],
      dtype='object')

In [274]:
df.dropna(how='any', inplace = True)

In [275]:
df.isnull().sum()

Gender                 0
Weather Condition      0
Service Day            0
Service Time           0
Public Holiday         0
SMS Notification       0
Email Notification     0
SMS Reminder           0
Email Reminder         0
Free Transportation    0
External Speaker       0
Church Venue           0
Outreach Program       0
Celebration            0
Love Feast             0
Attendance             0
dtype: int64

In [276]:
df.shape

(320, 16)

In [277]:
df['Gender'].value_counts()

Female    160
Male      160
Name: Gender, dtype: int64

In [278]:
df['Service Day'].value_counts()

3    53
2    51
5    48
7    48
1    47
6    40
4    33
Name: Service Day, dtype: int64

In [279]:
df['Service Time'].value_counts()

3    110
2    108
1    102
Name: Service Time, dtype: int64

In [280]:
df['Email Reminder'].value_counts()

0    178
1    142
Name: Email Reminder, dtype: int64

In [281]:
df['SMS Notification'].value_counts()

1    173
0    147
Name: SMS Notification, dtype: int64

In [282]:
df['Email Notification'].value_counts()

0    160
1    160
Name: Email Notification, dtype: int64

In [283]:
df['SMS Reminder'].value_counts()

1    163
0    157
Name: SMS Reminder, dtype: int64

In [284]:
df['Free Transportation'].value_counts()

1    168
0    152
Name: Free Transportation, dtype: int64

In [285]:
df['External Speaker'].value_counts()

0    168
1    152
Name: External Speaker, dtype: int64

In [286]:
df['Church Venue'].value_counts()

1    163
0    157
Name: Church Venue, dtype: int64

In [287]:
df['Outreach Program'].value_counts()

0    166
1    154
Name: Outreach Program, dtype: int64

In [288]:
df['Celebration'].value_counts()

0    168
1    152
Name: Celebration, dtype: int64

In [289]:
df['Love Feast'].value_counts()

1    165
0    155
Name: Love Feast, dtype: int64

In [290]:
df['Weather Condition'].value_counts()

0    167
1    153
Name: Weather Condition, dtype: int64

In [291]:
df['Attendance'].value_counts()

1    162
0    158
Name: Attendance, dtype: int64

In [292]:
df.columns

Index(['Gender', 'Weather Condition', 'Service Day', 'Service Time',
       'Public Holiday', 'SMS Notification', 'Email Notification',
       'SMS Reminder', 'Email Reminder', 'Free Transportation',
       'External Speaker', 'Church Venue', 'Outreach Program', 'Celebration',
       'Love Feast', 'Attendance'],
      dtype='object')

In [293]:
category_col =['Gender'] 
labelEncoder = preprocessing.LabelEncoder()
  
mapping_dict ={}
for col in category_col:
    df[col] = labelEncoder.fit_transform(df[col])
  
    le_name_mapping = dict(zip(labelEncoder.classes_,
                        labelEncoder.transform(labelEncoder.classes_)))
  
    mapping_dict[col]= le_name_mapping
print(mapping_dict)

{'Gender': {'Female': 0, 'Male': 1}}

In [294]:
df.shape

(320, 16)

In [295]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pickle
  
X = df.drop("Attendance", axis=1)
y = df["Attendance"]

In [296]:
X.columns

Index(['Gender', 'Weather Condition', 'Service Day', 'Service Time',
       'Public Holiday', 'SMS Notification', 'Email Notification',
       'SMS Reminder', 'Email Reminder', 'Free Transportation',
       'External Speaker', 'Church Venue', 'Outreach Program', 'Celebration',
       'Love Feast'],
      dtype='object')

In [297]:
X_train, X_test, y_train, y_test = train_test_split(
           X, Y, test_size = 0.3, random_state = 100)
  
model = LogisticRegression()
  
model.fit(X_train, y_train)
y_pred = model.predict_proba(X_test)[:, 1]

In [298]:
pickle.dump(model, open('model.pkl','wb'))